<%= render 'share/nail' %>
<h2>下のボタンから色を選んでください</h2><br>
<body class=nail onLoad="sample(<%= @nail %>)">
<%= @nail %>
<canvas id="nailcolor">
</canvas>
<%= form_for :rgb, url: '/update' do |f| %>
  <%= f.color_field :color0 %>
  <%= f.color_field :color1 %>
  <%= f.color_field :color2 %>
  <%= f.color_field :color3 %>
  <%= f.color_field :color4 %>
  <%= f.submit "反映"%>
<% end %>
<%= button_to "保存", {controller: 'static_pages', action: 'saveDB'}, {method: :post} %>
<div>保存した色</div>

<% Color.all.each do |color| %>
  <div class = "del_<%=color.id%>"><%=color.rgb%>
    <div onLoad="displayColor(<%= color.rgb %>)">
      <% paramColor = color.rgb.split(",")%>
      <%= button_to "反映", {controller: 'static_pages', action: 'update'} ,{params: {rgb: paramColor}}%>
      <%= button_to "削除", {controller: 'static_pages', action: 'deleteColor'} ,{remote: :true, method: :delete, params: {id: color.id}}%>
    </div>
  </div>
<% end %>

</body>